
/* Main CV Container */
.cv-section {
    background-color: var(--primary-bg-color);
    transition: background-color 0.3s ease, color 0.3s ease; /* Smooth transition */
    color: var(--primary-text-color);
    padding-bottom: 40px;
}


.cv-container {
    margin-left: auto;
    margin-right: auto;
    display: flex;
    gap: 30px;
    padding: 40px 0;
    max-width: 70%;
}

/* Left Column for CV */
.cv-left {
    flex: 1;
    width: 25%;
    max-width: 300px;
}

.profile-photo {
    max-width: 100%;
    border-radius: 10px;
    margin-bottom: 20px;
}

.personal-info {
    background-color: var(--secondary-bg-color);
    transition: background-color 0.3s ease, color 0.3s ease; /* Smooth transition */
    padding: 20px;
    border-radius: 10px;
}

.personal-info img{
    margin-right: 5px;
}

.personal-info a{
    padding-left: 5px;
    text-decoration: none;
}

.personal-info a img{
    width: 30px;
    height: 30px;
}

.personal-info a img{
    width: 30px;
    height: 30px;
}

.personal-info p img{
    width: 20px;
    vertical-align: middle;
}

/* Right Column for CV */
.cv-right {
    flex: 3;
}

.cv-right section {
    margin-bottom: 40px;
}


.cv-right h3 {
    margin-bottom: 20px;
    font-size: 1.8em;
    color: var(--primary-text-color);
}

.cv-summary h3{
    font-size: 1.8em;
}

.cv-summary p{
    font-size: 1.2em;
    text-align: justify;
}

.cv-item {
    display: flex;
    align-items: flex-start;
    margin-bottom: 20px;
    position: relative;
    flex-wrap: wrap;
}

.cv-item-info {
    flex: 1;
    padding-left: 10px;
}

.cv-item-info .date-info {
    font-size: 1em;
}

.cv-item-icon-left,
.cv-item-icon-right {
    display: flex;
    align-items: center;
}

.cv-item-icon-left img,
.cv-item-icon-right img {
    width: 24px;
    height: auto;

}

.cv-item-icon-right img {
    cursor: pointer;
}

.cv-item-icon-left {
    margin-right: 10px;
}

.cv-item h4 {
    margin: 0;
    font-size: 1.3em;
}

.cv-item p {
    margin: 5px 0;
    font-size: 1.em;
    color: var(--primary-text-color);
}

.cv-item-details {
    display: none;
    padding: 10px;
    background-color: var(--secondary-bg-color);
    transition: background-color 0.3s ease, color 0.3s ease; /* Smooth transition */
    border-radius: 5px;
    width: 100%;
    margin-top: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    line-height: 1.6;
    margin-left: 40px;
    font-size: 1.1em;

}

.cv-item-details li {
    margin-left: 10px;
}

.cv-item.open .cv-item-details {
    display: block;
}

.cv-item.open {
    flex-direction: column;
}

.skills-section li{
    font-size: 1.1em;
    margin-bottom: 10px;
}


/* Responsive for Mobile Devices */
@media screen and (max-width: 1250px) {
    .cv-container {
        display: inline;
        width: 80%;
    }

    .profile-photo {
        width: 70%;
        max-width: 250px;
        padding-top: 20px;
        margin-left: auto;
        margin-right: auto;
        border-radius: 50%;
        display: block;
    }
    .cv-left {
        margin-left: auto;
        margin-right: auto;
        width: 100%;
        max-width: 80%;

    }
    .cv-right {
        max-width: 90%;
        margin-left: auto;
        margin-right: auto;
    }
    .cv-summary p{
        font-size: 0.9em;
    }
    .cv-right section {
        margin-bottom: 0px;
    }
    .cv-item-info{
        font-size: 0.9em;
    }
    .cv-item-details{
        font-size: 0.9em;
        max-width: 80%;
    }
    .cv-item-info .date-info {
        font-size: 0.8em;
    }
    .skills-section li{
        font-size: 0.9em;
        margin-bottom: 10px;
    }
}